<div class="container">
    <form class="content">
        <h2 class="form-title">Adicionar tarefa</h2>
        <input type="text" [(ngModel)]="cat.cat_name" name="cat_name" id="cat_name" class="form-input" placeholder="Titulo">
        <!--<input type="number" [(ngModel)]="cat.cat_age" name="cat_age" id="cat_age" class="form-input" placeholder="Idade">-->
        <input type="text" [(ngModel)]="cat.cat_breed" name="cat_breed" id="cat_breed" class="form-input" placeholder="Descricção da tarefa">
        <input type="submit" value="Adicionar" class="form-buttom" (click)="onSubmit()">
    </form>
</div>